main{
    align-items: center;
    overflow: visible;
    background-color: var(--c12);
}

main h1{
    color: var(--w);
}

main p{
    color: var(--c5);
}

main a{
    padding: 14px 24px;
    display: inline-block;
    background-color: var(--p1);
    text-transform: uppercase; 
    border-radius: 3px;
    text-align: center;
    color: var(--p5);
}

main h1 span{
    color: var(--p1);
}

main img{
    border-radius: 5px;
}