.introducao-bg{
    background-color: var(--c12);
    /* background: linear-gradient(var(--c12) calc(100% - 120px), var(--w) 0px); */
    box-shadow:  inset 0px -100px var(--c0);
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px;
    gap: 0px 40px;
}

.introducao-texto{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-self: end;
    padding-bottom: 120px;
}

main img{
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 1200px){    
    .introducao-texto{
        align-self: center;
    }
}

@media (max-width: 800px){
    .introducao-bg{
        padding-top: 16px;
    }
    .introducao{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .introducao-texto{      
        padding-bottom: 0px;
    }
    .introducao-img img{
        height: 300px;
        width: 100%;
    }
}