@import url('colors.css');
@import url('fonts.css');

@import url('header.css');
@import url('footer.css');

@import url('main.css');
@import url('vitrine.css');
@import url('components.css');
@import url('personalizacao.css');
@import url('parceiros.css');
@import url('depoimento.css');
@import url('seguros.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
   /* outline: 1px solid red; */
}

body{
    /* margin-bottom: 500px; */
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

img[src$=".jpg"]{
    border-radius: 4px;
}
