.termos {
    padding-top: 120px;
    padding-bottom: 120px;
}

.termos h2 {
    margin-bottom: 20px;
}

.termos p+h2 {
    margin-top: 48px;
}

.termos p+p {
    margin-top: 1rem;
}

.termos p {
    max-width: 75ch;
}

@media (max-width: 1200px){

}

@media (max-width: 800px){

}